body #1{
    margin: 0;
    padding: 0;
    background: #262626;
}

ul #1{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    ul li #1{
        list-style: none;
    }

        ul li a #1{
            width: 80px;
            height: 80px;
            background-color: #ffff;
            text-align: center;
            line-height: 80px;
            font-size: 35px;
            margin: 0 10px;
            display: block;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            border: 3px solid #fff;
            z-index: 1;
        }

            ul li a .icon #1{
                position: relative;
                color: #262626;
                transition: .5s;
                z-index: 3;
            }

            ul li a:hover .icon #1{
                color: #fff;
                transform: rotateY(360deg);
            }

            ul li a:before #1{
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 100%;
                background: #f00;
                transition: .5s;
                z-index: 2;
            }

            ul li a:hover:before #1{
                top: 0;
            }

        ul li:nth-child(1) a:before #1{
            background: #3b5999;
        }

        ul li:nth-child(2) a:before #1{
            background: #55acee;
        }

        ul li:nth-child(3) a:before #1{
            background: #0077b5;
        }

        ul li:nth-child(4) a:before #1 {
            background: #55acee;
        }
